---
title: Newsletter Automation - Reviewing a business idea
description: "An evaluation of an idea to start the business of automating the newsletter creation process using keypoints from the book Getting Real by 37Signals."
date: '2024-03-10'
categories:
- review
- improvement
published: true
---

> Start out by solving your own problems, by scratching your own itch.

## Introduction

I wrote about the things I learnt from the book [Getting Real by 37Signals](https://gettingreal.37signals.com/) in the article [Getting Real - what I learned from 37Signals](/posts/getting-real). Touche! In this article, I am using the keypoints/questions from that article to evaluate a business idea I have.

## The Business Idea

The business idea centers around the development of an automated newsletter generation platform, utilizing the power of AI to streamline and personalize digital marketing efforts. By enabling users to generate newsletters, email campaigns, and other marketing materials quickly and efficiently, the service aims to save time and enhance engagement with audiences. With features tailored to adapt content tone, style, and personalization, this platform caters to the evolving needs of digital marketers, content creators, and businesses looking to maintain relevance in a fast-paced online environment.

Some features I can think of:

- Define an objective to let the AI create a newsletter campaign/series for you. Topics for emails can be provided or the AI can pick topics on its own. AI, then, generates emails for these topics.
- Import current emails/campaign for the AI to personalize and learn from existing content. A custom GPT model is created in this scenario. New emails generated by the AI for the campaign will use this custom model for creating content.
- Revisions of a generated email by typing/guiding the AI with a short prompt.
- Many of the newsletters are aggregation services. For this purpose, provide an input for different links that need to be processed. AI will be fed with data about these links (e.g. title, content, etc), which are used by the AI to generate the aggregation email.
- Users can specify a general guidance for the AI to follow when creating the newsletter. This can be in the form of a template or a set of rules (e.g. use a specific tone, language style, etc).
- Preset tags that generate different versions of an email. SaaS companies can use this feature to generate personalized content for different user segments (e.g. new users, trial users, long-term users, etc).
- Generation of an image for the email using AI. This can be used to create a unique image for the email or to create a personalized image for the tag.
- Generation of high-converting email sequences.
- Provide various pre-built campaign templates for the user to create their own campaign. These campaigns already have guidance, objective and a set of emails that can be used as a starting point. Campaigns can also use pre-built custom models for generating content.

## The Idea

- **Write a one-line summary of your business idea - the vision.**

Creation of unique and automated newsletters with AI.

- **What is the problem you are trying to solve? Do you have a personal experience with the problem?**

The problem is the time-consuming process of creating newsletter content and the efforts needed to create a new newsletter. I have experienced this problem when starting my newsletter and I have seen others struggle with it. SaaS companies have similar issues maintaining retention with their customers through newsletter channel.

- **What is the solution you are proposing?**

The solution is to create a platform that uses AI to generate newsletter content. The platform will be able to generate content for different segments of the audience and will be able to personalize the content based on the user's input.

- **Why does your product exist? What makes it different from others?**

The product exists to save time and effort in creating newsletter content. It is different from others because it uses AI to generate content and personalize it based on the user's input - thereby, saving a lot of time when creating a newsletter. Rapid creation and maintainance of multiple newsletters on different topics becomes easier with this platform.

- **Who are your target customers that share your vision of this product?**

Digital marketers, content creators, and businesses looking to maintain relevance in a fast-paced online environment. SaaS companies can use this platform to maintain retention with their customers through the newsletter channel.

The reason why all of them share the vision is that they are the ones who are creating newsletters and are aware about the time-consuming process. They are looking for ways to save time and effort in creating content.

- **If your idea requires outside investment, can we adjust it so that it can be bootstrapped?**

The idea can be bootstrapped. We can use GPT4 as the AI and the platform can be developed in stages to generate content for the general audience and then expanded to include segments/tags.

- **What are the constraints you have when starting this business?**

I do not have sufficient time to work on this idea full-time.

- **How can you use the constraints above to your advantage?**

I can work on the idea part-time and validate the idea before working on it full-time. I can dedicate a fixed number of hours each day till the MVP is released and then decide on the next steps.

- **Who is your app's enemy? Why would you pick a fight with them?**

I have a specific enemy in mind (HoppyCopy) that allow the generation of email newsletter - although, they are very costly and do not offer personalization. I would pick a fight with them for the same reasons.

The marketing message (against my enemies) would be that the platform can generate AI emails at a fraction of the cost while providing personalization services.

## The MVP

- **What features will you build in the first version? Can you trim down the features further?**

The vision of the product is: Creation of unique and automated newsletters with AI. For this purpose, I will focus on features that directly help in making me launch a newsletter on Developer Happiness.

Therefore, the first version will have the following features:

1. Allow users to create campaigns that have a niche, an objective and a guidance.
2. Use the data in the campaign to generate emails for the campaign on different topics.
3. Allow users to revise the generated email by typing/guiding the AI with a short prompt.
4. When generating the emails, look at past-content to ensure unique topics are covered.
5. Feed the AI with content from the last email to ensure continuity.
6. Integrate with newsletter services to send the generated emails to the user's email list.

- **What features will make their way further down the road?**

For now, I have tabled the following features that do not directly help in the creation of a new newsletter.

1. Import current emails/campaign for the AI to personalize and learn from existing content. A custom GPT model is created in this scenario. New emails generated by the AI for the campaign will use this custom model for creating content.
2. Allow users to reuse a custom model for a different campaign.
3. Allow users to specify different links that need to be processed. AI will be fed with data about these links (e.g. title, content, etc), which are used by the AI to generate the aggregation email.
4. Automation of the newsletter in its entirety. The AI will be able to generate the newsletter and send it to the user's email list.

- **Use a team of 3 people for initial version, e.g. designer, a programmer and a multi-tasker.**

I am the multi-tasker and I can work on the programming part. I can also work on the design part for the MVP version. I am not great at promoting the product and I may need help in this area.

- **If you need more than 3 people, you either need different people or you need to slim down your initial version.**

I can slim down the initial version to just the programming and design part. I can work on the promotion part later by hiring someone - which brings the team to 2 people at max for the time being.

- **Will your vision of this idea motivate employees to come back to work everyday?**

Yes, the vision of the idea is to save time and effort in creating newsletter content. This is a problem that many people face and saving time for a huge number of people will motivate employees to come back to work everyday.