---
title: P5 Svelte Demo
description: Second post.
date: '2023-4-16'
categories:
- sveltekit
- svelte
published: true
color: cadetblue
---

<script lang="ts">
	import P5Element, { HomeSketch } from '../sketches/home';
	const sketch = HomeSketch.run({ darkMode: false, size: [1.0, 320]});
</script>

## hello

<P5Element {sketch} />