@import 'src/tailwind.scss';

body {
	@apply font-text;
	@apply bg-slate-50 dark:bg-slate-950 text-slate-950 dark:text-slate-50;
	@apply w-5xl;
	font-size: 16px;
}

.post-title {
	@apply font-text text-3xl font-bold my-8;
}

.logo {
	@apply font-qwitcher mb-4 m-0;
	font-size: 3rem;
}

.avatar {
	width: 160px;
	height: 160px;
	border-radius: 50% 35%;
}